<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container back_ground">
  <div class="row no-gutters">
    <div class="col-8 mx-3 mx-sm-auto shadow-lg rounded my-5">
    <h5 class="text-dark bg-light p-4 mb-0">Solaleにつけたタグを編集する</h5>
      <div class="form-body p-4 bg-light">
        <% if @post.errors.any? %>
          <ul class="alert alert-danger" role="alert">
          <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
          </ul>
        <% end %>

        <%= form_with model:@post do |f| %>
          <%= f.text_field :tag_names, value: @tag_list, id:"inputTag",  size: 50 %><br><br>
          <%= f.submit value="Solaleを修正する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
