<%= stylesheet_link_tag 'reports', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container admin_report_index">
  <h3>通報一覧</h3>
  <% if @reports.count == 0 %>
    <h3 class="m-5">通報された投稿はありません</h3>
  <% else %>
    <div class="row">
      <% @reports.each do |report| %>
        <div class="col-md-4">
          <div class="card mt-4 shadow-lg">
            <div>
              <%= image_tag report.post.image, class: "card-img-top" %>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <p class="card-tag">投稿者:<%= report.post.user.name %></p>
                  <p class="card-tag">タグ：<% report.post.tags.each do |tag| %>
                    ＃<%= tag.name %><% end %></p>
                  <p>通報者：<%= report.user.name %></p>
                  <div><%= link_to '不適切ではない', admin_report_path(report), class: "btn btn-info", method: :delete, data: { confirm: '通報状態をリセットします。' } %></div>
                  <div class="mt-3"><%= link_to '非表示にする', admin_report_path(report), class: "btn btn-info", method: :patch, data: { confirm: '悪質な投稿を非表示にします。' } %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @reports, theme: 'bootstrap-5' %>
  <% end %>
  <h3>非表示投稿一覧</h3>
  <% if @posts.count == 0 %>
    <h3 class="m-5">非表示の投稿はありません</h3>
  <% else %>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4">
          <div class="card mt-4 shadow-lg">
            <div>
              <%= image_tag post.image, class: "card-img-top" %>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <p class="card-tag">投稿者:<%= post.user.name %></p>
                  <p class="card-tag">タグ：<% post.tags.each do |tag| %>
                    ＃<%= tag.name %><% end %></p>
                  <div><%= link_to 'ユーザを削除する', admin_user_path(post.user), class: "btn btn-info", method: :delete, data: { confirm: '悪質ユーザを削除します。' } %></div>
                  <div class="mt-3"><%= link_to '投稿を削除する', post_post_erasure_path(post), class: "btn btn-info", method: :delete, data: { confirm: '投稿を削除します。' } %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>