<% if @post.errors.any? %>
<%= @post.errors.count %>件のエラーが発生しました:
<ul>
  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<div class="container">
  <div class="row">
    <div class=" mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">    
    <h2>編集</h2>
    <%= form_with model:@post do |f| %>
      <label for="inputName">名前</label><br>
      <%= f.text_field :name, autofocus: true, id:"inputName" %><br>
      <label for="inputIntroduction">自己紹介</label><br>
      <%= f.text_field :introduction,  id:"inputIntroduction" %><br>
      <%= f.submit "Edit completed" %>
    <% end %>
    </div>
  </div>
</div>  
