<div class="container d-flex justify-content-center">
  <div class="col-8">
    <div class="grid gap-1">
      <div class="card mt-4 shadow-lg">
        <%= image_tag @post.image, class: "card-img-top"; %>
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <p class="card-tag">
              <% @post.tags.each do |tag| %>
              <%= tag.name %>
              <% end %>
              <% if @post.user == current_user %>
                <%= link_to edit_post_path(@post.id) do%>
                  <strong><i class="fa-solid fa-file-pen"></i></strong>
                <% end %>
              <% else %>
                <% if @post.liked_by?(current_user) %>
                  <p><%= link_to post_likes_path(@post), method: :delete do %>
                      <i class="fa-solid fa-sun"></i><%= @post.likes.count %> いいね
                   　 <% end %></p>
                <% else %>
                  <p><%= link_to post_likes_path(@post), method: :post do %>
                      <i class="fa-regular fa-sun"></i><%= @post.likes.count %> いいね
                    <% end %></p>
                <% end %>              
              <% end %>
              </p>
              <%= link_to @post.created_at %>
              <% if @post.user == current_user %>
                  <%= link_to post_path(@post.id), method: :delete do %>
                  <strong><i class="fa-solid fa-trash-can"></i></strong>
                  <% end %>
              <% else %>
                <%= link_to(post_path(@post.id), class: "text-dark") do %>
                  <strong><i class="fa-solid fa-circle-exclamation"></i><%# 通報機能追加 %></strong>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>