<%= stylesheet_link_tag 'usernew', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2>Solaleにログイン</h2>
      <div class="col-10 mx-auto py-5">
        <div class="px-5 grid gap-3">
        <%= form_with model: @user, url: user_session_path do |f| %>

        <div class="field">
          メールアドレスを教えてください<br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mt-3">
          パスワードを教えてください<br>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mt-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions mt-5">
          <%= f.submit "Solaleにログインする", class: "actions-button" %>
        </div>
      <% end %>

      <div class="col-4 p-2">
        <%= link_to "ログインができない方はこちらへ",new_user_password_path, class: "btn mt-5" %>
      </div>
　　</div>
　</div>
</div>