<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if @user.errors.any? %>
<%= @user.errors.count %>errors prohibited this user from being saved:
<ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<div class="container back_ground mt-5">
  <div class="row">
    <div class=" mx-auto col-8">
    <h2>編集</h2>
    <%= form_with model:@user do |f| %>
      <label for="inputName">名前</label><br>
      <%= f.text_field :name, autofocus: true, id:"inputName" %><br>
      <label for="inputIntroduction">自己紹介</label><br>
      <%= f.text_field :introduction,  id:"inputIntroduction" %><br>
      <%= f.submit "Edit completed" %>
    <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <%= link_to "退会する", user_users_confirm_path(current_user), class: "btn btn-dark btn-lg", method: :get %>
    </div>
  </div>
</div>