<!DOCTYPE html>
<html>
  <head>
    <title>Solale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/a7b34a3f51.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
    .card-img-top {
      min-height: 400px;
      object-fit: contain;
    }
    </style>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <% if user_signed_in? %>
        <div class="container">
          <a class="navbar-brand p-1" href="/posts"><i class="fa-solid fa-sun"></i>Solale</a>
        <% else %>
         <div class="container">
          <a class="navbar-brand p-1" href="/"><i class="fa-solid fa-sun"></i>Solale</a>
        <% end %>

          <% if user_signed_in? %>
            <nav class="navbar bg-body-tertiary">
              <div class="container">
                <%= form_with url: posts_search_path, local: true, method: :get do |f| %>
                <%= f.text_field :tag, placeholder: "Solaleをさがす" %>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <% end %>
              </div>
            </nav>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '投稿する', new_post_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-dark' %>
              </li>
            <% elsif admin_signed_in? %>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class=" mb-auto">
      <div class="container">
        <% if notice %>
          <p class="my-3 alert alert-primary"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="my-3 alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
    <%= yield %>
    </main>
    <footer class="py-5">
      <p class="text-center"><i class="fa-solid fa-sun"></i>Solale</p>
    </footer>
  </body>
</html>

